:root{
    --header:#012D63;
    --footer:#021635;
    --white:#FFFFFF;
    --button:#8E32C6;
    --text:#C7C7C7;
    --grey:#D8D8D8;
    --form:#959595;
}
body{
    font-weight: 400;
    background-color: var(--header);
}
a{
    text-decoration: none;
}
ul{
   list-style: none;
}
body{
    color: var(--white);
}
.container{
   width: 1155px;
   margin: 0 auto;
   padding: 0 15px;
  border: 1px solid red;
}
.button{
    display: block;
    background-color: var(--button);
    color: var(--white);
   padding: 20px 61px;
   border-color: transparent;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    border-radius: 16px;
    margin: 0 auto;
}
.hero-button{
        display: block;
        background-color: var(--button);
        color: var(--white);
       padding: 20px 49px;
       border-color: transparent;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 24px;
        line-height: 1.17;
        border-radius: 16px;
    
}
.logo-text-footer,
.logo-text-header{
    font-family: 'PT Serif';
}
.logo-text-header{
    font-size: 48px;
    font-weight: 400;
    line-height: 1.32;
}
.logo-text-footer{
    font-size: 24px;
    font-weight: 400;
    line-height: 1.32;
}
.header{
    background-color: var(--header);
    font-family:'Roboto';
}
.header-wrap{
    display: flex;
    justify-content: space-around;
}
.nav{
    display:flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    }
.header-language{
display: flex;
justify-content: space-between;
gap: 20px;
align-items: center;
}

.header-link{
    color: var(--text);
    font-weight: 300;
    font-size: 24px;
    line-height: 1.17;
}
.header-link:focus,
.header-link:hover{
    color: var(--white);
    font-weight: 400
}

.hero{
    background-image:url(./img/bg.png);
    background-repeat: no-repeat;
    background-position: center;
   padding-top: 94px;

   padding-bottom: 183px;
    font-weight: 400;   
}
.hero-wrap{
    padding-left:170px ;
}
.hero-title{
    font-size: 144px;
    line-height: 1.33;
    font-family: 'Playfair Display';
    font-weight: 400;
}
.hero-dream{
    font-family: 'Playfair Display';
    font-size: 72px;
    line-height: 1.33;
    font-weight: 400;
}
.hero-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
}
.Advantages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 606px;
    background-image:url(./img/bg-advantages.png);
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 36px;
    line-height: 1.33;
    
}
.list-advantages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 185px;
}
.Advantages-text{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.33;
}

.stars::after{
    content: "";
    display: block;
    background-image: url(./img/stars.png);
    background-position: center;
    width: 240px;
    height: 240px;
}
.paint::before{
    content: "";
    display: block;
    background-image: url(./img/paint.png);
    width: 240px;
    height: 240px;
}
.car::after{
    content: "";
    display: block;
    background-image: url(./img/car.png);
    width: 240px;
    height: 240px;
}

.reviews{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 520px;
    background-image: url(./img/bg-reviews.png);
    font-family: 'Roboto';
    font-weight: 400;  
}
.reviews-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
}
.title{
    display: block;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 1.33;
    text-align: center;
}
.reviews-item{
padding: 49px 13px 29px 13px;
    border-radius: 15px;
}
.reviews-item:nth-child(1){
    background: linear-gradient(#00E5E6,#00A8F7,#9A76F9,#CC5EC2);
box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;;

}
.reviews-item:nth-child(2){
    background: linear-gradient(#FF68B4,#FF45E1,#CE3AFF,#8961FF);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
}
.reviews-item:nth-child(3){
    background: linear-gradient(#FFE128,#FF9B5C,#FF8381,#FF5489);
box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}
.reviews-text{
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 8px;
}
.reviews-date{
    margin-bottom: 47px;
    font-size: 14px;
    line-height: 1.17;
    color: var(--grey);
}
.reviews-name{
    font-size: 14px;
    line-height: 1.17;
}
.reviews-image{
    height: 31px;
    width: 31px;
    display: block;
    
}
.reviews-with-us{
    font-size: 12px;
    line-height:1.17 ;
    color: var(--grey);
}

.forma{
    background-image: url(./img/bg-form.png); 
}
.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.form-item{
    border-color: transparent;
    display: block;
    width: 580px;
    border-radius: 50px;
    padding: 12px 25px;
    margin: 0 auto;
    color: var(--form);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 19px;
}
.form-item-first{
    width: 690px;
}
.btn-form{
    position: absolute;
    top: 40px;
    right: -40px;
    background-color: transparent;
    color: var(--form);
    font-family: "Roboto";
    font-weight: 400;
    font-size: 28px;
    line-height: 1.17;
    border: none;
}
.form-first-label{
    position: relative;
}
.footer{
    background-color: var(--footer);
}
.questions{
    font-size: 24px;
    line-height: 1.17;
    font-weight: 400;
}
.list-questions{
    text-align: left;
    margin-left: 165px;
  
}
.list-help{
    text-align: right;
    margin-right:165px ;
}
.information-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
}
.footer-link{
    color: var(--white);
    text-decoration: underline;
}
